.header {
  position: fixed;
  top: 0; left: 0; right: 0;
  height: 64px;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  z-index: 99;
  background: none;
  transition: transform 0.4s cubic-bezier(.4,0,.2,1);
  grid-area: header;
}

.header > a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.header__logo {
  height: 40px;
  width: 40px;
  margin-right: 16px;
}

.header__title {
  font-family: 'Inter', 'system-ui', sans-serif;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1px;
  color: var(--header-title-color, #fff);
  white-space: nowrap;
}

.header__title--landing-white {
  color: #fff !important;
}

@media (prefers-color-scheme: dark) {
  .header {
    background: none;
  }
  .header__title {
    color: var(--header-title-color-dark, #fff);
  }
  .header__title--landing-white {
    color: #fff !important;
  }
}

@media (prefers-color-scheme: light) {
  .header {
    background: none;
  }
  .header__title {
    color: var(--header-title-color-light, #19191e);
  }
  .header__title--landing-white {
    color: #fff !important;
  }
}